@import 'lib/sass/variables';

.main {
  margin: 0 auto;
}

.homeHero {
  height: 520px;
  width: auto;
  position: relative;
  overflow: hidden;
  border-bottom: 4px solid $color-border;
  @media (min-width: 768px) {
    height: 90vh;
  }
}

.heroText {
  z-index: 2;
  position: relative;
  text-align: center;
  top: 50%;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  transform: translateY(-90%);
  @media (min-width: 768px) {
    transform: translateY(-70%);
  }
}

.heroSearching {
  color: white;
  letter-spacing: 1px;
  line-height: 0.8;
  font-size: 2.65rem;
  @media (min-width: 768px) {
    font-size: 6vw;
  }
}

.heroFor {
  font-size: 1rem;
  font-weight: normal;
  line-height: 3;
  @media(min-width: 768px) {
    font-size: 2vw;
  }
}

.heroBirds {
  line-height: 1.1;
  font-size: 4.2rem;
  letter-spacing: 14px;
  margin-left: 12px;
  @media (min-width: 768px) {
    letter-spacing: 3vw;
    font-size: 8vw;
    margin-left: 3vw;
  }
}

.section {
  padding: 0.75rem 0 3.6rem;
  margin: 1rem auto;
  max-width: 1024px;
}

.sectionIntro {
  font-size: 1rem;
  margin-bottom: 3rem;
  padding-bottom: 0;
  @media(min-width: 1024px) {
    font-size: 1.777rem;
  }
}

.header {
  border-bottom: 1px solid rgba(0,0,0,0.7);
  h1 {
    margin: 0;
    line-height: 1;
  }
}

.articleTeaserContainer {
  border: 1px solid gray;
  margin: 1.777rem 0;
  padding: 10px 0;
  @media (max-width: 768px) {
    border-left: 0;
    border-right: 0;
  }
  @media(min-width: 768px) {
    padding: 10px;
  }
}

.articleTeaser {
  height: 220px;
  width: auto;
  position: relative;
  border: 2px solid black;
  @media(min-width: 768px) {
    height: 260px;
  }
}

.articleTeaserContents {
  z-index: 10;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 16px rgba(0, 0, 0, 1);
  bottom: 0;
  padding: 1rem 1.45rem;
  h1 {
    margin: 0 0 0.2rem;
  }
  span {
    font-size: 1.333rem;
    display: none;
    @media(min-width: 768px) {
      display: inline-block;
    }
  }
}

.organizations {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1em 5%;
  flex-wrap: wrap;
  li {
    flex: 1 0 40%;
  }
  h2 {
    margin: 0.5em 0;
  }
}