.hero {
  height: 330px;
  width: auto;
  position: relative;
  overflow: hidden;
  border-bottom: 4px solid #c79b8a;
  @media (min-width: 1024px) {
    height: 460px;
  }
  @media (min-width: 1280px) {
    height: 640px;
  }
}